
*{
    margin: 0;
    padding: 0;
}


body {
    background-color: #000;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;

}

.button {
    display: inline-block;
    padding: 150px 150px;
    background-color: rgb(0, 0, 0, 0);
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 100px;
    transition: all 0.5s;
}

.button:hover {
    color: white;
    transform: rotate(360deg) scale(1.2);
}

.button-div {
    text-align: center;
}

.peekaboo-image {
    display: flex;
    position: absolute;
    justify-content: space-around;
    flex-wrap: wrap;
    animation: float 3s infinite;
}
 
@keyframes float {
    0% { transform: translatey(0) translatex(0); }
    30% { transform: translatey(20px) translatex(50px); }
    50% { transform: translatey(80px) translatex(100px); }
    80% { transform: translatey(80px) translatex(-100px); }
    100% { transform: translatey(0) translatex(0); }
}

.peekaboo-image2 {
    display: flex;
    position: absolute;
    justify-content: space-around;
    flex-wrap: wrap;
    animation: float 3s infinite;
    margin: 0 0 0 60vh;
}

.peekaboo-image3 {
    display: flex;
    position: absolute;
    justify-content: space-around;
    flex-wrap: wrap;
    animation: float 3s infinite;
    margin: 0 0 0 120vh;
}