


.title{
    font-family: "Courier New", Courier, monospace;
}

.square {
    background-color: blueviolet;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 50px auto;
    transition: all .5s;

}

.square:hover {    
    background-color: red;
    transform: rotate(30deg);
}
.button-div{
    text-align: center
}
.button {
    color: white;
    background-color: green;
    padding: 15px;
    margin: 50px auto;
    /* display: block;
    width: 100px
    text-align: center;*/
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
}

.button:hover {
    background-color: blue;
    color: black;
    transform: scale(1.5);
    
}